<section>
  <header>
    <h1>Add new scavenger</h1>
  </header>
  <%= erb(:errors, { locals: {object: @user} } ) %>
  <form action="/users" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= @user.name %>">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" value="<%= @user.email %>">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <div class="form-group">
      <button type="submit"> Create
    </div>
  </form>
</section>