main {
    position: absolute;
    margin-top: 30vh;
}

#splash {
    background-image: url(http://corbettbarr.com/wp-content/uploads/2009/12/raccoon-trash-collector.jpg);
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#splash h1 {
    color: orange;
    font-size: 1.75em;
    right: 1em;
    top: 3em;
    position: absolute;
}

@media all and (orientation: landscape) {
    main {
        margin-top: 90vh;
    }
    #splash {
        height: 90%;
    }
    #splash h1 {
        font-size: 2.5em;
        top: 4.5em;
    }
}

body {
    margin: 0;
}

.cache {
    text-align: center;
    padding: 1em;
    margin: auto;
    width: 80%;
    position: relative;
}

.cache img {
    width: 100%;
}

.cache h1 {
    color: #4f4f4f;
    font-size: 1.5em;
    font-family: sans-serif;
}

.map-icon {
    background-image: url(http://icon-icons.com/icons2/159/PNG/256/google_location_maps_22371.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    right: 1em;
    position: absolute;
    bottom: 0.5em;
}

@media (min-width: 750px) {
    .cache {
        width: 55%;
    }
    #splash {
        height: 50%;
    }
    #splash h1 {
        font-size: 3.5em;
        top: 5.5em;
    }
}

@media (min-width: 750px) {
    .cache {
        width: 55%;
    }
    main {
        margin-top: 90vh;
    }
    #splash {
        height: 90%;
    }
    #splash h1 {
        font-size: 3.5em;
        top: 5.5em;
    }
}
