<% @caches.each do |cache| %>
  <article class="cache">
    <header>
      <h1><%= cache[:description] %></h1>
    </header>
    <img src="<%= cache[:image] %>">
    <a href="http://google.com/maps/search/<%= cache[:coordinates] %>" target="_blank">
      <div class="map-icon"></div>
    </a>
  </article>
<% end %>
