<section>
  <ul class="errors">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" value="<%= @user.email %>">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <div class="form-group">
      <button type="submit"> Login
    </div>
  </form>
</section>